matplotlib==3.8.0
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
plotly==5.17.0
pygwalker==0.4.8
scipy==1.13.0
st_annotated_text==4.0.1
stqdm==0.0.5
streamlit==1.26.0
streamlit_extras==0.4.2
transformers==4.33.2
wordcloud==1.9.2
torch==2.2.2
